* {
  box-sizing: border-box;
}
body {
  padding: 0;
  margin: 0;
}
.container {
  width: 1280px;
  margin: auto;
}
.header {
  min-height: 800px;
  text-align: center;
  background-image: url(../images/Layer\ 1.png);
  background-repeat: no-repeat;
  background-position: center center;
}

.elips {
  position: absolute;
  margin-top: 65px;
}

.wgimg {
  position: relative;
  margin-top: 140px;
  margin-bottom: 30px;
  margin-left: 50px;
}
.firsttext {
  line-height: 24px;
  padding-top: 75px;
  padding: bottom 280px;
}
.header-text1 {
  margin-top: 75px;
  text-align: center;
  font-family: "Open Sans", sans-serif;
  color: rgb(255, 255, 255);
  text-transform: uppercase;
  font-size: 49.35px;
  font-weight: 400;
}

.header-test2 {
  text-align: center;
  font-family: "Open Sans", sans-serif;
  color: rgb(255, 255, 255);
  text-transform: uppercase;
  font-size: 49.35px;
  font-weight: 700;
}
/*konets pervoy chasti*/
.documents-photo {
  min-height: 400px;
  background-position: center center;
}
.greenfoto {
  margin-right: -70px;
  width: 102px;
  height: 127px;
  margin-top: 20px;
}
.docfoto {
  margin-bottom: 30px;
}

.camerafoto {
  margin-left: -90px;
  margin-bottom: 40px;
}
.documents-text {
  margin-left: 30px;
  width: 270px;
}
.fotos {
  align-items: center;
}

.column1 {
  display: flex;
  padding-top: 165px;
  margin-left: 195px;
}
.column2 {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  margin-right: 195px;
  margin-top: -139px;
}
.photos-text {
  margin-left: 60px;
  width: 270px;
}
.documents-photo h2 {
  font-size: 27.35px;
  font-family: "Open Sans" sans-serif;
  color: rgb(0, 0, 0);
}
.documents-photo p {
  font-size: 14px;
  font-family: "Open Sans" sans-serif;
  color: rgb(79, 78, 78);
}
.heading1 {
  min-height: 1355px;
  background: url(../images/lsd.jpg);
  background-repeat: no-repeat;
  background-position: center center;
  padding: 0px;
  background-size: cover;
}
.heading-content {
  display: inline-block;
  text-align: center;
  width: 100%;
  margin-top: 0;
  padding-top: 80px;
}

.zagolovok {
  margin: 0px;
  padding-top: 30px;
  padding-bottom: 35px;

  font-size: 39.35px;
  font-family: "Open Sans" sans-serif;
  color: rgb(255, 255, 255);
  line-height: 1.576;
  text-align: center;
}
.paragraf {
  width: 650px;
  display: inline-block;
  text-align: left;

  font-size: 14px;
  font-family: "Open Sans" sans-serif;
  color: rgb(255, 255, 255);
  line-height: 1.643;
}
.paragraf1 {
  padding-bottom: 40px;
}
.picture {
}
.perehod {
  display: inline-block;
  text-align: center;
  margin-top: -60px;
  margin-right: -50px;
  width: 1108px;
}

.shape30 {
  display: inline-block;
  text-align: center;
  width: 1280px;
  margin-left: -110px;
  margin-top: -20px;
}
.heading2-content {
  display: inline-block;
  text-align: center;
  width: 100%;
  padding-top: -119px;
}
.wparagaf {
}
